---
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'

if (!Astro.locals.user) {
  return Astro.redirect('/login')
}
---

<Layout>
  <form method="post" action="/api/logout">
    <Button>Sign out</Button>
  </form>
</Layout>
